{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LongLong Girls Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style type="text/css">
   #bg {
       position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    #bg img {
       position:absolute;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
       width:100%;
        height:100%;
        z-index:-1;
    }
    </style>
</head>
    <body>
        <div class="content container">
           <div id="bg">
                <img src="{% static 'images/ll (1).jpg' %}" alt="">
           </div>
            <div class="row">
                <div class="col-md-8">
                     {% block content %}
                     {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>