{% extends 'blog/base.html' %}
<head>
    <style>
         *{margin:0; padding:0}
        .page-header{
			position:fixed; width:100%;height:auto; background-color:transparent; overflow-y:auto;min-height: 100px;line-height: 60px;}
    </style>
</head>
    {% block content %}
        <div class="page-header">
               {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
                <h1><a href="/">LongLong Girls Blog</a></h1>
           </div>
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            {% endif %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endblock %}